* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    max-width: 100vw;
    max-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.calculator {
    border: 5px solid black;
    border-radius: 13px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    background-color: #ddd;
    padding: 20px;

}

.calculator__display-panel {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 5rem;
    align-self: flex-end;

}

.calculator__result,
.calculator__history {
    flex-basis: 100%;
}

.calculator__buttons-panel {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 77%;
    text-align: center;
    font-size: 23px;
    font-weight: bold;


}

.calculator__button {
    border: 1px solid black;
    border-radius: 5%;
    margin: 2.5px;
    flex-basis: 23%;
    height: 20%;
    font-size: 2rem;
    cursor: pointer;
}

.calculator__button:focus {
    color: rgb(19, 14, 14);
    background-color: rgba(190, 135, 135, 0.795);
    font-weight: bold;
}

.calculator__button:nth-last-child(1) {
    flex-basis: 100%;
}

@media (orientation: landscape) {

    .calculator__buttons-panel {
        width: 90%;
        height: 65%;
        font-size: 25px;
    }
}

@media (orientation: landscape) and (min-width:700px) {
    .calculator__display-panel {
        height: 2rem;
    }

    .calculator__buttons-panel {
        width: 90%;
        height: 80%;
    }

    .calculator__button {
        height: 18%;
    }

}


@media (min-width:768px) {
    .calculator__display-panel {
        width: 100%;
    }

    .calculator__result {
        width: 100%;
    }

    .calculator__buttons-panel {
        padding: 20px;
    }

    .calculator__button {
        font-size: 3rem;
    }
}

@media (min-width:1024px) {
    .calculator {
        margin: 40px auto;
        border: 1px solid black;
        width: 80%;
        height: 92vh;
    }



    .calculator__result {
        flex-basis: 85%;
    }


    .calculator__buttons-panel {
        width: 90%;
        height: 72%;
        font-size: 50px;
        align-content: center;
    }

}

@media (min-width:1200px) {
    body {
        background-color: #aaa;
    }


    .calculator {
        margin: 90px auto;
        border: 1px solid black;
        width: 30%;
        height: 70vh;
    }

    .calculator__result {
        flex-basis: 80%;
        height: 170%;
    }

    .calculator__button {
        font-size: 40px;
    }

}