@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;900&display=swap");

:root {
  --basic-color: #00218a;
  --main-color-sixty: #bdbdfd;
  --secondary-color-thirty: #535eeb;
  --flashy-color-ten: #bc75f9;
  --cyberpunk-font: "Orbitron", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  max-width: 100vw;
  min-height: 100vh;
  font-family: var(--cyberpunk-font);
  background-color: var(--basic-color);
}

.calculator {
  margin: 0 auto;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
  flex-grow: 1;
  background-color: var(--main-color-sixty);
  padding: 20px;
  overflow: hidden;
}

.calculator__display-panel {
  margin-top: 15px;
  background-color: var(--secondary-color-thirty);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 5px;
}

.calculator__result,
.calculator__history {
  flex-basis: 100%;
  text-align: center;
  background-color: var(--secondary-color-thirty);
  border: none;
  font-family: var(--cyberpunk-font);
}

.calculator__result {
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 3px;
}

.calculator__buttons-panel {
  padding: 8px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  border: 2px solid var(--flashy-color-ten);
  margin-bottom: 50px;
  min-height: 55vh;
  background-color: var(--main-color-sixty);
}

.calculator__button {
  border: 1px solid black;
  border-radius: 8%;
  margin: 2.5px;
  flex-basis: 23%;
  font-size: 2rem;
  cursor: pointer;
  flex-grow: 1;
  font-family: var(--cyberpunk-font);
  background-color: var(--secondary-color-thirty);
  color: #fff;
  transition: 0.3s;
}

.calculator__power {
  text-align: center;
  flex-basis: 5%;
}

.calculator__button:focus {
  font-weight: bold;
  color: var(--basic-color);
}

@media (orientation: landscape) {
  .calculator__display-panel {
    margin-top: 0px;
    margin-bottom: 2px;
  }

  .calculator__buttons-panel {
    min-height: 55vh;
  }

  .calculator__button {
    font-size: 1.6rem;
  }
}

@media (min-width: 768px) {
  .calculator__button {
    font-size: 2.7rem;
  }
}

@media (min-width: 1024px) {
  .calculator {
    margin: 0 auto;
    width: 80%;
  }

  .calculator__button {
    font-size: 3rem;
  }
}

@media (min-width: 1200px) {
  .calculator {
    margin: 0 auto;
    width: 50%;
  }

  .calculator__result {
    font-size: 3.2rem;
  }

  .calculator__history {
    font-size: 1.5rem;
  }

  .calculator__button {
    font-size: 4rem;
    animation: glow 1s ease-in-out infinite alternate;
  }
}

@media (min-width: 1600px) {
  .calculator {
    margin: 0 auto;
    width: 35%;
  }

  .calculator__history {
    font-size: 1.2rem;
  }

  .calculator__result {
    font-size: 3rem;
  }
}

@keyframes glow {
  from {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px var(--flashy-color-ten),
      0 0 20px var(--flashy-color-ten), 0 0 25px var(--flashy-color-ten),
      0 0 30px var(--flashy-color-ten), 0 0 32px var(--flashy-color-ten);
  }

  to {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px var(--flashy-color-ten),
      0 0 40px var(--flashy-color-ten), 0 0 50px var(--flashy-color-ten),
      0 0 60px var(--flashy-color-ten), 0 0 65px var(--flashy-color-ten);
  }
}